.veilarbmaofs {
	.til-toppen-knapp {
		position: fixed;
		right: 2rem;
		bottom: 2rem;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: all 0.75s ease;

		@media (max-width: 890px) {
			right: 0.75rem;
			bottom: 0.75rem;
		}
	}

	.visKnapp {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}
