.veilarbmaofs {
	.til-toppen-knapp {
		float: right;
		margin-top: 0.75rem;
		margin-right: 0.75rem;

		opacity: 0;
		visibility: hidden;

		transform: translateY(100px);
		transition: all 0.5s ease;
	}

	.visKnapp {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}
