.knappelinje {
  display: grid;
  grid-template-columns: [registrering] auto [cv] auto [jobbonsker] auto [personalia] auto [ytelser] auto [oppfolging] auto [jobbsokerkompetanse] auto;
  grid-gap: 0.5rem;
}

.knappelinje__skillelinje {
  content: '';
  position: relative;
  width: 1px;
  height: 1.5rem;
  top: -1px;
  background-color: #78706A;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}