@import "~nav-frontend-core/less/_variabler";

.veilarbmaofs {

	.paneler {
		margin-bottom: 5rem;

		.ekspanderbartPanel {
			border: 1px solid @navGra60;
		}

		> * {
			margin-top: 0.75rem;
		}

		> *:first-child {
			margin-top: 0;
		}
	}

}
