.veilarbmaofs {
	.paneler-container {
		width: 100%;
		margin-right: 0.75rem;
		margin-bottom: 70vh;

		@media (max-width: 890px) {
			margin-left: 0.75rem;
		}

		&::-webkit-scrollbar {
			display: none; /* for Chrome, Safari, and Opera */
		}

		.navds-accordion__item {
			background-color: #fff;
			margin-bottom: 1rem;
		}

		.navds-accordion__header {
			border-bottom: 0;
		}

		.navds-accordion__content {
			font-size: 1rem;
			border-bottom: 0;
		}

		.navds-body-short,
		.navds-label {
			font-size: 1rem;
		}

		#cv h3 {
			display: inline-flex;
			align-items: center;
		}

		#cv-tag {
			margin-left: 1rem;
			color: #000;
		}
	}
}
