@import '~nav-frontend-core/less/_variabler';

.veilarbmaofs {
	.paneler-container {
		flex: auto;
		display: flex;
		flex-direction: column;
		margin-right: 0.75rem;

		&::-webkit-scrollbar {
			display: none; /* for Chrome, Safari, and Opera */
		}
		.paneler {
			width: 100%;
			margin-bottom: 70vh;

			.ekspanderbartPanel {
				padding: 1rem;
			}

			> * {
				margin-top: 0.75rem;
			}

			> *:first-child {
				margin-top: 0;
			}
		}
	}
}
