import * as React from 'react';
import ContentLoader from 'react-content-loader';

function Placeholder() {
    return (
        <ContentLoader height={{{height}}} width={{{width}}} primaryColor="#E9E7E7" secondaryColor="#C6C2BF">
{{content}}
        </ContentLoader>
    );
}

export default Placeholder;