@import "~nav-frontend-core/less/core";
@import "~nav-frontend-typografi-style/src/index";

.veilarbmaofs {
  .typo-normal-mixin();
  color: @navMorkGra;
  font-family: @font-family;
  line-height: @line-height-base;

  button:hover {
    cursor: pointer;
  }
}

@media (min-width: @screen-md-min) {
  .veilarbmaofs {
    width: 874px;
  }
}

@media (min-width: 1480px) {
  .veilarbmaofs {
    width: 940px;
  }
}

.break-all {
  word-break: break-all;
}
