@import '~nav-frontend-core/less/_variabler';

.veilarbmaofs {
	.last-ned-cv-lenke {
		::before {
			font-size: 1rem;
			content: url('last-ned.svg');
			position: relative;
			top: 0.3rem;
			margin-right: 0.25rem;
		}
		&:hover {
			::before {
				content: url('last-ned-fylt.svg');
			}
		}
	}

	.endre-cv-lenke {
		margin-left: 1.5rem;

		::before {
			content: url('rediger.svg');
			position: relative;
			top: 0.3rem;
			margin-right: 0.25rem;
		}

		&:hover {
			::before {
				content: url('rediger-fylt.svg');
			}
		}
	}

	.cv-sammendrag {
		width: 100%;
	}

	.cv-ikke-synlig {
		width: 100%;
	}

	.cv-alert-ikke-tilgang .alertstripe__tekst {
		max-width: 42rem;
	}
	.lenke-brukerprofil {
		display: flex;
		justify-content: flex-end;
	}

	@media (min-width: @screen-md-min) {
		.cv-sammendrag {
			width: 50%;
		}
		.cv-ikke-synlig {
			width: 50%;
		}
	}
}
