.veilarbmaofs {
	.endre-lenke {
		background: url('rediger.svg') no-repeat center left;
		background-size: contain;
		border-bottom: none;

		&:hover {
			background: url('rediger-fylld.svg') no-repeat center left;
			background-size: contain;
			border-bottom: none;
		}

		span {
			padding-left: 1.5rem;
		}
	}

	.last-ned-cv-lenke {
		margin-right: 2rem;
		background: url('last-ned.svg') no-repeat center left;
		background-size: contain;
		border-bottom: none;

		span {
			padding-left: 1.5rem;
		}
	}

	.synlig-for-arbeidsgiver {
		font-size: 1.125rem;
	}

	.cv-sammendrag {
		width: 50%;
	}

	.cv-ikke-synlig {
		width: 50%;
	}
}
