.veilarbmaofs {
	.endre-cv-lenke {
		margin-left: 2rem;
		background: url('./rediger.svg') no-repeat center left;
		background-size: contain;
		border-bottom: none;

		&:hover {
			background: url('./rediger-fylld.svg') no-repeat center left;
			background-size: contain;
			border-bottom: none;
		}

		span {
			padding-left: 1.5rem;
		}
	}

	.last-ned-cv-lenke {
		background: url('./last-ned.svg') no-repeat center left;
		background-size: contain;
		border-bottom: none;

		span {
			padding-left: 1.5rem;
		}
	}
}
