@import (reference) "~nav-frontend-core/less/_variabler";
.veilarbmaofs {

  .modal__overlay {
    display: block;
  }

  .utskrift {
    margin-top: 1rem;

    .utskrift-knapp {
      font-weight: normal;
      text-transform: none;
      padding: 0 1rem;
      border-radius: 0.25rem;

      .utskrift-knapp__ikon {
        margin: 0 0.35rem -0.2rem 0.2rem;
        g {
          fill: none
        }
      }
    }

    .utskrift-knapp:hover {
      .utskrift-knapp__ikon {
        g {
          fill: #0067C5;
          #bottom {
            fill:none;
          }
        }

      }
    }
  }

  .personverninformasjon-modal {
    max-width: 40rem;
    margin: 0 auto;

    &__header {
      border-bottom: 1px solid @navGra40;
      padding-bottom: 1rem;
    }

    &__innhold {
      padding: 1rem 0.5rem 1rem 0.5rem;

      ul {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
      }

      p {
        margin-left: 1.5rem;
      }

      h2 {
        margin-top: 0.3rem;
        margin-left: 0.7rem;
      }
    }
  }
}