@import "~nav-frontend-core/less/core";
@import "~nav-frontend-typografi-style/src/index";

.veilarbmaofs {
	flex-grow: 1;
	width: 100%;
	background-color: #F4F4F4;

	.ReactCollapse--collapse {
		transition: none;
		height: auto;
	}

	.typo-normal-mixin();
	color: @navMorkGra;
	font-family: @font-family;
	line-height: @line-height-base;

	&__container {
		width: 100%;
		max-width: 1200px;
		margin: 2rem auto;
	}

	&--hidden {
		// Overskriv styling fra veilarbpersonflatefs
		display: none !important;
	}

	.informasjonsbolk {
		margin: 1rem 0 1rem 0;
	}

	.underinformasjon {
		margin-bottom: 1rem;
	}

	.italic-gra {
		color: @navGra60;
		font-style: italic;
	}

	.italic {
		font-style: italic;
	}

	.break-all {
		word-break: break-all;
	}

	@media (max-width: 1232px) {
		padding: 0 1rem;
	}

}
