@import '~nav-frontend-core/less/core';
@import '~nav-frontend-typografi-style/src/index';

.veilarbmaofs {
	scroll-behavior: smooth !important;
	flex-grow: 1;
	width: 100%;

	background-color: #f4f4f4;

	.ReactCollapse--collapse {
		transition: none;
		height: auto;
	}

	.typo-normal-mixin();
	color: @navMorkGra;
	font-family: @font-family;
	line-height: @line-height-base;

	&__container {
		max-width: 1920px;
		min-height: 30vh;
		margin: 0 auto;

		display: flex;
		align-items: flex-start;
		-moz-box-flex: 1;
	}

	&--hidden {
		// Overskriv styling fra veilarbpersonflatefs
		display: none !important;
	}

	.informasjonsbolk {
		margin: 1rem 0 1rem 0;
	}

	.underinformasjon {
		margin-bottom: 1rem;
	}

	.overinformasjon {
		margin-top: 0.2rem;
	}

	.italic-gra {
		color: @navGra60;
		font-style: italic;
	}

	.italic {
		font-style: italic;
	}

	.break-all {
		width: 280px;
		word-break: normal;
		hyphens: auto;
	}

	.break-all-sm-column {
		width: 250px;
		word-break: normal;
		hyphens: auto;
	}

	.kilde-tekst {
		color: #645f5a;
		margin-top: 3px;
		line-height: 1rem;
		hyphens: auto;
		word-break: normal;
	}

	.personalia-grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
	}
}
